name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: python -m pip install -U "jupyterlab>=4.0.0,<5"

    - name: Lint the extension
      run: |
        set -eux
        jlpm
        jlpm run lint:check

    - name: Build the extension
      run: |
        set -eux
        python -m pip install .[test]
        jupyter labextension list
        jupyter labextension list 2>&1 | grep -ie "jupyterlab_camunda_modeller_extension.*OK"
        python -m jupyterlab.browser_check

    - name: Package the extension
      run: |
        set -eux
        pip install build
        python -m build
        pip uninstall -y "jupyterlab_camunda_modeller_extension" jupyterlab

    - name: Upload extension packages
      uses: actions/upload-artifact@v4
      with:
        name: extension-artifacts
        path: dist/jupyterlab_camunda_modeller_extension*
        if-no-files-found: error

  test_isolated:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: 'x64'

    - uses: actions/download-artifact@v4
      with:
        name: extension-artifacts

    - name: Install and Test
      run: |
        set -eux
        pip install "jupyterlab>=4.0.0,<5" jupyterlab_camunda_modeller_extension*.whl
        jupyter labextension list
        jupyter labextension list 2>&1 | grep -ie "jupyterlab_camunda_modeller_extension.*OK"
        python -m jupyterlab.browser_check

  check_links:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
    - uses: jupyterlab/maintainer-tools/.github/actions/check-links@v1
      with:
        ignore_links: "https://www.npmjs.com/package/.* https://pepy.tech/.* https://static.pepy.tech/.*"
