name: Prep Release

on:
  workflow_dispatch:
    inputs:
      version_spec:
        description: 'Version Spec'
        default: 'patch'
        required: false
      post_version_spec:
        description: 'Post Version Spec'
        required: false
      branch:
        description: 'The branch to target'
        required: false
      since:
        description: 'Use PRs with activity since this date or git reference'
        required: false
      since_last_stable:
        description: 'Use PRs with activity since the last stable git tag'
        required: false

jobs:
  prep_release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Prep Release
      uses: jupyter-server/jupyter_releaser/.github/actions/prep-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        version_spec: ${{ github.event.inputs.version_spec }}
        post_version_spec: ${{ github.event.inputs.post_version_spec }}
        branch: ${{ github.event.inputs.branch }}
        since: ${{ github.event.inputs.since }}
        since_last_stable: ${{ github.event.inputs.since_last_stable }}
        steps_to_skip: "build-changelog"
      env:
        RH_SINCE_LAST_STABLE: 'true'
